<nav class="main-menu u-pull-right">
    <ul>
        <li><a routerLink="/" routerLinkActive="active-link">Início</a></li>
        <li><a href="#">Sobre o Autor</a></li>
        <li><a routerLink="category/arcimboldo" routerLinkActive="active-link">Arcimboldo</a></li>
        <li><a routerLink="category/desoriente" routerLinkActive="active-link">Desoriente</a></li>
        <li><a routerLink="category/microhistorinhas" routerLinkActive="active-link">Microhistorinhas</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
</nav>
