<nav class="main-menu u-pull-right">
    <ul>
        <li><blog-menu-tooltip [text]="tooltips[0]"></blog-menu-tooltip><a routerLink="/" routerLinkActive="active-link">Início</a></li>
        <li><blog-menu-tooltip [text]="tooltips[1]"></blog-menu-tooltip><a href="#">Sobre o Autor</a></li>
        <li><blog-menu-tooltip [text]="tooltips[2]"></blog-menu-tooltip><a routerLink="category/arcimboldo" routerLinkActive="active-link">Arcimboldo</a></li>
        <li><blog-menu-tooltip [text]="tooltips[3]"></blog-menu-tooltip><a routerLink="category/desoriente" routerLinkActive="active-link">Desoriente</a></li>
        <li><blog-menu-tooltip [text]="tooltips[4]"></blog-menu-tooltip><a routerLink="category/microhistorinhas" routerLinkActive="active-link">Microhistorinhas</a></li>
        <li><blog-menu-tooltip [text]="tooltips[5]"></blog-menu-tooltip><a href="#">Contato</a></li>
    </ul>
</nav>
