<aside class="social-links simple-shadow border-radius">
    <ul>
        <li>
            <a angulartics2On="click" angularticsEvent="SocialFacebook" angularticsCategory="social" [angularticsProperties]="{label: 'Init'}" href="https://www.facebook.com/gabpac" target="_blank">
                <img src="assets/images/fb-art.png" width="60"/>
            </a>
        </li>
        <li>
            <a angulartics2On="click" angularticsEvent="SocialTwitter" angularticsCategory="social" [angularticsProperties]="{label: 'Init'}" href="https://twitter.com/gabpac" target="_blank">
                <img src="assets/images/twitterlogo_1x.png"  width="60"/>
            </a>
        </li>
        <li>
            <a angulartics2On="click" angularticsEvent="SocialLinkedin" angularticsCategory="social" [angularticsProperties]="{label: 'Init'}" href="https://twitter.com/gabpac" target="_blank">
                <img src="assets/images/linkedin-logo-copy.png" width="60"/>
            </a>
        </li>
    </ul>
</aside>
