<spinner *ngIf="isLoading"></spinner>
<blog-social-component></blog-social-component>
<blog-side-navigator-component *ngIf="!isLoading" [postList]="postLinksSide"></blog-side-navigator-component>
<div class="category-container">
    <div class="posts-container" *ngFor="let post of posts">
        <blog-post-component [isInitializeMinified]="true" [postModel]="post"></blog-post-component>
    </div>
    <div class="after-posts ">
        <button angulartics2On="click"
                angularticsEvent="CarregarMaisPostagens"
                angularticsCategory="{{ slug }}"
                [angularticsProperties]="{label: 'Init'}"
                (click)="onLoadMore()">Mais postagens</button>
    </div>
</div>
