<div class="contact post-content border-radius simple-shadow">
    <div class="tline">
        <div class="tcolumn">
            gabpac@gmail.com
        </div>
        <div class="tcolumn">
            email:
        </div>
    </div>
    <div class="tline">
        <div class="tcolumn">
            <a href="https://www.facebook.com/gabpac" target="_blank">https://www.facebook.com/gabpac</a>
        </div>
        <div class="tcolumn">
            facebook:
        </div>
    </div>
    <div class="tline">
        <div class="tcolumn">
            <a href="https://www.twitter.com/gabpac/" target="_blank">https://www.twitter.com/gabpac</a>
        </div>
        <div class="tcolumn">
            twitter:
        </div>
    </div>
    <div class="tline">
        <div class="tcolumn">
            <a href="https://www.linkedin.com/in/gabpac/" target="_blank">https://www.linkedin.com/in/gabpac</a>
        </div>
        <div class="tcolumn">
            linkedin:
        </div>
    </div>
</div>
