<div class="post-content row simple-shadow border-radius" xmlns="http://www.w3.org/1999/html">
    <spinner *ngIf="isLoading"></spinner>
    <h2 id="{{postModel.slug}}" *ngIf="postModel"><a routerLink="/post/{{postModel.slug}}" routerLinkActive="active-link">{{postModel.title["rendered"]}}</a></h2>
    <div [ngClass]="{'minimized': isMinified, 'text-container': true}" #content></div>
    <button angulartics2On="click" angularticsEvent="Comentarios" angularticsCategory="{{ postModel.title }}" [angularticsProperties]="{label: 'Init'}" *ngIf="!isMinified" (click)="commentsModal.open()">Comentários</button>
    <modal #commentsModal title="Comentários" cancelButtonLabel="Fechar" modalClass="modal-lg" (onOpen)="onModalOpen($event)">
        <modal-content>
            <div class="empty-comments" *ngIf="!comments || comments.length === 0; else elseblock">
                Não há comentários. Seja o primeiro a comentar.
            </div>
            <ng-template #elseblock>
                <blog-comments-listing [allComments]="comments"></blog-comments-listing>
            </ng-template>
            <button (click)="respostaModal.open()">Dê o seu pitaco!</button>
        </modal-content>
    </modal>
    <modal #respostaModal title="Comentar" cancelButtonLabel="Fechar" modalClass="modal-lg" (onOpen)="onModalOpen($event)">
        <modal-content>
            <blog-comment-create [parentId]="0" [postID]="postModel.id"></blog-comment-create>
        </modal-content>
    </modal>
    <blog-navigator-between-posts *ngIf="!isInitializeMinified" [post]="postModel" ></blog-navigator-between-posts>
    <div *ngIf="isMinified" class="shader"></div>
    <button angulartics2On="click" angularticsEvent="LerMais" angularticsCategory="{{ postModel.title }}" [angularticsProperties]="{label: 'Init'}" *ngIf="isMinified" (click)="isMinified = false" role="button" class="maximize-button">Ler Mais</button>
</div>
