<h3>Nome: <strong>{{comment.author_name}}</strong></h3>
<h3>Website: <strong><a href="{{comment.author_url}}" target="_blank">{{comment.author_url}}</a></strong></h3>
<h3>Data: <strong>{{comment.date | date:'medium'}}</strong></h3>
<div #commentContent class="comment-content border-radius"></div>
<button (click)="respostaModal.open()">Responder a esse comentário</button>
<modal #respostaModal title="Responder" cancelButtonLabel="Fechar" modalClass="modal-lg">
    <modal-content>
        <blog-comment-create [parentId]="comment.id" [postID]="comment.post"></blog-comment-create>
    </modal-content>
</modal>
<blog-comments-listing [level]="level" [parentNumber]="comment.id" [allComments]="comment?.children"></blog-comments-listing>

