$white: #fff;
$black: #000;
$off_white: #ecece3;
$dark_grey: #333;

$brown_sugar:       #be6e46;
$tea_green:         #cde7b0;
$cambridge_blue:    #a3bfa8;
$light_slate_gray:  #7286a0;
$ebony:             #59594a;

$nickel:            #6c756b;
$pewter_blue:       #93acb5;
$baby_blue_eyes:    #96c5f7;
$fresh_air:         #a9d3ff;
$alice_blue:        #f2f4ff;

$color_body: $dark_grey;
$color_menu: $ebony;
$color_post_background: $off_white;
$color_main_background: $ebony;
$color_text_title: darken($brown_sugar, 20%);
$color_link: $cambridge_blue;
