//@import "~compass";
@import "~compass-mixins";
@import "global_styles_vars";
@import "base";

/*--------------------- Main -----------------------*/

.main {
    @include lightGradient($color_main_body);

    header {

        @include lightGradient($color_header_background);
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        padding: 2rem 2rem 1rem 5rem;
        box-sizing: border-box;

        h1 {
            font-family: $font_big_caller;
            letter-spacing: 0.15rem;

            &.done {
                color: rgba(240, 255, 255, 0.8);
                text-shadow: 1px 4px 6px $color_header_background, 0 0 0 #000, 1px 4px 6px $color_header_background;
                transition: all 1s ease-in-out;
            }

            &.outing {
                color: $color_header_background;
                text-shadow: 0 0 0 $color_header_background, 0 0 0 $color_header_background, 0 0 0 $color_header_background;
                transition: all 1s ease-in-out;
            }
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 600;
            float: left;
            margin-top: 0.5rem;

            &.done {
                color: rgba(240, 255, 255, 0.8);
                text-shadow: 1px 1px 3px $color_header_background, 0 0 0 #000, 1px 1px 3px $color_header_background;
                transition: all 1s ease-in-out;
            }

            &.outing {
                color: $color_header_background;
                text-shadow: 0 0 0 $color_header_background, 0 0 0 $color_header_background, 0 0 0 $color_header_background;
                transition: all 1s ease-in-out;
            }
        }
    }
}

.main-content {
    margin-top: 16.6rem;
}

nav.main-menu {

    li {
        float: left;
        padding: 0.2rem 1.2rem;
        font-size: 1.9rem;
        position: relative;

        .menu-tooltip {
            font-size: 1.2rem;
            padding: .6rem;
            color: $color_menu;
            @include lightGradient($baby_yellow);
            position: absolute;
            z-index: 50;
            text-align: center;
            bottom: 3rem;
            min-width: 10rem;
            @include opacity(0);
            transition: all 0.5s ease-in-out;
            @include single-box-shadow(3px, 3px, 12px, 1px, rgba(#000, .3));

            p {
                margin: 0;
                line-height: 1.1rem;
            }
        }

        &:hover {
            .menu-tooltip {
                @include opacity(.8);
            }
        }

        a {
            color: $color_menu;
            text-decoration: none;
        }
    }
}

.posts-container:first-child {
    margin-top: 16rem;
}

.post-content {
    margin: 7rem;

    @media (min-width: 1400px) {
        margin: 7rem auto;
    }

    @media (max-width: 1230px) {
        margin: 7rem auto;
    }

    padding: 7rem;
    background-color: $color_post_background;
    max-width: 800px;
    font-family: $font_reading;
    box-sizing: border-box;

    h2 {
        margin-bottom: 2rem;
        a {
            color: $color_text_title;
            background-color: $color_background_title;
            font-family: $font_squared;
            text-decoration: none;

            &:hover {
                text-decoration: solid;
            }
        }
    }

    p {
        margin-bottom: 1rem;
    }

    .minimized {
        height: 500px;
        overflow: hidden;
    }

    .shader {
        display: block;
        width: 100%;
        height: 4rem;
        position: relative;
        z-index: 1;
        top: -4rem;

        @include background-image(linear-gradient(rgba($color_post_background, 0%), $color_post_background));
    }
    .navigator-between-posts {
        padding-top: 3rem;
    }
}

.side-navigator, .social-links {
    /* Larger than tablet */
    @media (max-width: 1230px) {
        display: none;
    }

    width: 200px;
    position: fixed;
    z-index: 5;
    right: 5rem;
    @include lightGradient($color_post_background);
    padding: 2rem;
}

.side-navigator {

    bottom: 50px;
    max-height: 540px;
    overflow: auto;
    top: 36rem;

    li {
        padding-bottom: 1rem;
    }
    a {
        text-decoration: none;
        color: lighten($color_menu, 10%);
        font-weight: 600;
        &:hover {
            color: darken($color_menu, 10%);
        }
        cursor: pointer;
    }
    .selected {
        color: darken($color_menu, 20%);
        font-weight: 900;
    }
}

.social-links {
    top: 24rem;

    ul {
        margin-bottom: 0;
    }

    li {
        float: left;
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
}

.simple-shadow {
    @include single-box-shadow(1px, 3px, 10px, 2px, $color_shadow)
}

.border-radius {
    @include border-radius(0.4rem);
}

footer {
    @include lightGradient($color_header_background);
    padding: 2rem;
    color: $color_menu;
}

.modal-lg {

    button.close {
        padding: 0;
        margin: 0;
        border: 0;
        line-height: inherit;
        font-size: 3rem;
        color: $color_menu;
        height: inherit;
        float: right;
    }

    .modal-title {
        font-family: $font_squared;
    }

    .comment {

        border-top: 1px solid $color_border;
        padding: 3rem 0;

        h3 {
            font-size: 1.5rem;
            letter-spacing: inherit;
            color: $color_menu;
            strong {
                font-weight: 900;
            }
        }

        .comment-content {
            padding: 2rem;
            border: 1px solid $color_border;
            margin: 2rem;
            @include single-box-shadow(1px, 3px, 10px, 2px, $color_shadow, true)
        }

        &.leveled {

            padding: 1rem 0;
            border: inherit;

            h3 {
                font-size: 1.1rem;
            }

            .comment-content {
                font-size: 1rem;
                padding: 1rem;
                border: 1px solid $color_border;
                margin: 1rem;
                @include single-box-shadow(1px, 3px, 10px, 2px, $color_shadow, true)
            }
        }
    }
}

.comment-create {

    border: 1px solid $color_border;
    padding: 2rem;
    margin: 2rem;
    background-color: $color_post_background;

    .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid #42A948; /* green */
    }
    .ng-invalid:not(form)  {
        border-left: 5px solid #a94442; /* red */
    }

    .alert {
        font-weight: 900;
        color: $color_menu;
        font-size: 0.8rem;
        position: relative;
        top: -16px;
        margin-left: 1rem;
    }

    input {
        width: 50%;

        textarea {
            width: 50%;
        }
    }

    button[disabled]:hover {
        background-color: $bluish_grey;
        color: white;
    }
}

.img-self {
    margin-bottom: 1rem;
}



.home-page {
    .home-title {
        text-align: center;
        font-family: $font_squared;
        color: $color_menu;
    }
    .side-navigator {
        h4 {
            margin-bottom: 1.5rem;
            font-family: $font_squared;
            color: $color_menu;
        }
    }
}

.contact {
    font-family: $font_squared;
    font-size: 2rem;
    line-height: 2rem;
    .tcolumn {
        &:first-child {
            float: right;
        }
    }
    .tline {
        border-bottom: dotted $color_border 3px;
        margin-bottom: 2rem;
    }

}
