<div class="main">
    <blog-social-component></blog-social-component>
    <div class="home-page main-content row">
        <div class="side-navigator simple-shadow border-radius">
            <h4>A Gazeta do Vale informa:</h4>
            <p><strong>Todos os Súditos do Barão de Itaguarebatiba</strong> na fase final de edição.</p>
            <p>Aguardem!</p>
            <hr>
            <p>Pesquisa para o <strong>Melhor Livro de Auto Ajuda do Mundo</strong> vai bem divertida. Obrigado Bertrand Russel, Lao Tzu e Paulo Coelho.</p>
        </div>
        <h3 class="home-title">Últimas postagens</h3>
        <ng-container *ngFor="let post of lastPosts">
            <blog-post-component [isInitializeMinified]="true" [postModel]="post"></blog-post-component>
        </ng-container>
    </div>
</div>
